
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #68829e;
}

.navbar {
  background-color: #536980;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}

.navbar-brand,
.navbar-toggler {
  margin-right: 15px; 
}

.navbar-nav {
  margin-left: auto;
}