.projects-main {
  position: relative;
  z-index: 4;
  padding-bottom: 80px;
  margin-top: -124px;
  color: black;
}

.projects {
  width: 85%;
  margin: auto;
}

.title {
  color: #c1d0dc;
  margin-left: 7.5%;
}

.project-wrapper {
  width: 100%;
  background-color: #125059;
  background-color: #591b12;
  background-color: #283c4a;
  color: white;
  margin-bottom: 2rem;
}

.project-title,
.project-summary {
  padding: 16px;
  margin-bottom: 0;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #0a0d10;
}

.project-img {
  width: 100%;
  height: 250px;
}

.react-read-more-read-less,
.react-read-more-read-less-more {
  color: #8ac5d6;
  font-weight: 600;
}

.btn-group {
  background-color: #0a0d10;
}

@media only screen and (min-width: 1348px) {
  .projects-main {
    padding-bottom: 112px;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .btn-group {
    margin-bottom: 0;
  }

  .project-wrapper {
    margin-bottom: auto;
  }

  .project-img {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1648px) {
  .projects-main {
    padding-bottom: 144px;
  }
  .projects {
    gap: 4rem;
  }
}
